/* font-family: 'Titan One', cursive; */
body{
    font-family: 'Playfair Display', serif;
    margin: 0px;
    background-color: #F9F3EE;
    
    
}
/* Header styling */
header{
    display: flex;
    flex-direction: row;
    background-color: #C2DED1;
    height: 5%;
    font-size: 30px;
    /* border: 1px solid black; */
    padding-left: 3rem;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
    padding-left: 3rem;
    
}
ul li{
    margin-left: 1rem;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    color: black

}

/* section 1 styling home */
#home{
    background-color: #ECE5C7;
    height: 70vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#home h1{
    margin: 0px;
    font-size: 80px;
}
#home p{
    margin: 5px;
    font-size: 25px;
}

/* Image section styling */
#image{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
#image figure{
    display: flex;
    flex-direction: column;
}
#image figure img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
#image figure figcaption{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
}

/* Table Styling About */
#about{
    display: flex;
    justify-content: center;
    width: 100%;

}
#about table{
    border-collapse: collapse;
    width: 70%;
    /* align-items: center; */
    margin-left: 15rem;
}
thead{
    text-align: left;
}

/* info styling */
#info{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

/* tribute section styling */
#tribute{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}
#tribute p{
    margin: 0px auto;
    margin-bottom: 10px;
}
#tribute form{
    display: flex;
    flex-direction: column;
}
#tributeEdit{
    width: 200px;
    height: 100px;
    margin: 5px;
}
#tributeShown{
    width: 200px;
    height: 100px;
    margin: 5px;
}
#addtribute{
    margin: 5px;
    width: 100px;
    height: 100px;

}

/* Footer styling */
footer{
    background-color: #354259;
    height: 5vh;
    color: white;
    text-align: center;
}